<div class="banner-edit-component">
  <div class="overlay-background" [style.backgroundColor] = "cusStyle.bkcolor"  >
    <div class="center-in-overlay">
      <div #el1 contenteditable="true" (blur)="cusStyle.title=el1.innerText" [style.fontSize] = 'cusStyle.headerSize' [style.textAlign]='cusStyle.headerAlign' [style.color]='cusStyle.textColor'>{{cusStyle.title}}</div>
      <div #el2 contenteditable="true" (blur) = "cusStyle.description=el2.innerText" [style.fontSize] = 'cusStyle.textSize' [style.textAlign]='cusStyle.descriptionAlign' [style.color]='cusStyle.textColor'>{{cusStyle.description}}</div>
    </div>
  </div>
</div>
<!-- <button mat-button color ="primary" class="edit-button">Basic</button> -->
